:root {
  --bg-main-color: #00000080;

  --bg-accent-color: #2d2d2d;

  --accent-color: #f64435;

  --text-accent-color: #ffe498;

  --text-edit-bg-color: #575757;

  --border-color: #3f3f3f;

  --shadow-color: #202020;

  --document-bg-color: #68686850;

  --component-bg-gradient: radial-gradient(
    circle,
    #646464e6 0%,
    #363636e6 100%
  );

  --smokywhite: #dddbd8;

  --black: #000000;

  --translucent-black: #00000099;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background-image: url("./assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

button {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
  border: none;
}

.show {
  display: block !important;
}

/* MAIN */

.container {
  width: 800px;
  max-width: 800px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  padding: 12px 0 18px 0;
}

.header-title {
  color: var(--accent-color);
  margin-bottom: 15px;
}

.global-nav ul {
  display: flex;
}
.global-nav li:not(:last-child) {
  margin-right: 10px;
}

.red-btn {
  background-color: var(--accent-color);
  color: var(--smokywhite);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.nav-btn {
  font-size: 12px;
  width: 100px;
  padding: 12px;
}

.red-btn:active {
  transform: translate(2px, 1px);
}

.main {
  min-height: 80vh;
  background-color: var(--document-bg-color);
  padding: 20px;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  background-image: var(--component-bg-gradient);
  border-radius: 5px;
  box-shadow: 2px 4px #202020;
  position: relative;
  margin-bottom: 20px;
}

.item-accent {
  border: 1px solid var(--accent-color);
}

.item-title {
  font-size: 8px;
  color: var(--text-accent-color);
  font-weight: 400;
  pointer-events: none;
}

.item .body {
  color: #fff;
  pointer-events: none;
}

.item-media {
  display: flex;
}

.item-media .item-title {
  order: 1;
  flex-grow: 1;
  padding: 15px 0 0 10px;
}

.image {
  width: 440px;
  height: 200px;
}

.image img {
  width: 100%;
  height: 100%;
}

.item-text {
  padding: 20px 0 20px 10px;
}

.item-text .item-title {
  margin-bottom: 10px;
}

.delete {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--smokywhite);
  background-color: var(--black);
  padding: 12px;
}

/* MODAL */

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: none;
}

.modal-shade {
  background-color: var(--translucent-black);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 35vw;
  background-image: var(--component-bg-gradient);
  border-radius: 10px;
  padding: 35px 10px 10px 10px;
}

.modal-input {
  margin-bottom: 13px;
}

.modal-input span {
  display: block;
  color: var(--text-accent-color);
  margin-bottom: 4px;
  font-size: 12px;
}

.modal-input input {
  width: 100%;
  height: 30px;
  box-shadow: 0.5px 0.5px 1px var(--smokywhite), 0 -1px 1px var(--shadow-color);
  background-color: var(--text-edit-bg-color);
  border: none;
  font-size: 24px;
  color: var(--smokywhite);
}

.modal-btn {
  display: flex;
  justify-content: flex-end;
}

.add-btn {
  font-size: 10px;
  width: 50px;
  padding: 7px 0;
  border-radius: 3px;
  box-shadow: 1px 1px rgb(65, 53, 53);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
}
